
<select style='width: 500px; height: 200px;', id='bar-plot-select', multiple='multiple' >
{{for cat in rows:}}
<optgroup label='{{=cat["cat_title"]}}'>
    {{for factor in cat['list']:}}
    <option value={{=factor['variable']}}> {{=factor['title']}} </option>
    {{pass}}
</optgroup>
{{pass}}
</select>
<input type="submit" value="Plot" id="bar-plot-submit">
<div>
Click on image to zoom.
</div>
<div class='mplt_plot bar-plot'>
</div>
<div>
</div>
<script>
$(document).ready(function(){
    $('input#bar-plot-submit').click(function(){
	var margs = $('#bar-plot-select').val();
        $('div.bar-plot').html("<img src='{{=URL(c='analyse', f='bar_plot_compute')}}/"+margs.join('/')+"?study={{=request.vars['study']}}' />");
	$('div.bar-plot img').zoomTarget({
	    targetsize: 1.0    
	});
   });
});
</script>
