{{extend 'layout.html'}}

<h1>Study: {{=study['title']}}</h1>
<span style='float: right;'> 
    <a href='{{=URL(r=request, c="studies", f="edit", vars=request.vars)}}'>Edit study metadata</a>
</span>

<div class='study_description'> 
    <em>{{=study['description']}}</em><br />
</div>

<script>
	$(function() {
	    $( "#viz-tabs").tabs({
	    ajaxOptions: {
		error: function( xhr, status, index, anchor ) {
		    $( anchor.hash ).html(
			"Couldn't load this tab. We'll try to fix this as soon as possible. " +
			    "If this wouldn't be a demo." );
		    }
	    } 
	    
	    });
	});
</script>

<div id="viz-tabs">
	<ul>
	    <li><a href="{{=URL(c='analyse', f='bar_plot', vars=request.vars)}}">bar plots</a></li>
	    <li><a href="{{=URL(c='analyse', f='two_axis_plot', vars=request.vars)}}">2d plots </a></li>
	    <li><a href="{{=URL(c='analyse', f='show_weights', vars=request.vars)}}">set weights</a></li>
	</ul>
</div>




